@import "../../../styles/mixins/font";

.albumId {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;

  &__title {
    @include fontHeaderSmall();
    margin-bottom: 15px;

    &:hover {
      cursor: pointer;
    }
  }
}
