@import "../../styles/mixins/font";
@import "../../styles/mixins/icon";
@import "../../styles/mixins/screen";

.slider {
  display: none;
  justify-content: flex-end;
  align-items: center;
  grid-template-columns: 32px auto;
  grid-column-gap: 15px;

  &__highIcon {
    @include icon("speaker-high.svg");
  }

  &__middleIcon {
    @include icon("speaker-middle.svg");
  }

  &__lowIcon {
    @include icon("speaker-low.svg");
  }

  &__mutedIcon {
    @include icon("speaker-none.svg");
  }

  &__highIcon,
  &__middleIcon,
  &__lowIcon,
  &__mutedIcon {
    width: 32px;
    height: 32px;
  }

  &__input {
    width: 100%;
    max-width: 125px;
    height: 15px;
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: all 0.2s;
    overflow: hidden;
    margin: 0;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      background: red;
      cursor: pointer;
      box-shadow: -1007px 0 0 1000px red;
    }

    &::-moz-range-thumb {
      width: 15px;
      height: 15px;
      background: red;
      cursor: pointer;
      box-shadow: -1007px 0 0 1000px red;
    }
  }

  @include screen-lg {
    display: grid;
  }
}
