$screen-breakpoints: (
  lg: 1180px,
  xlg: 1440px,
);

$button: #5f2eea;
$button-hover: #2a00a2;

$button-red: #ed2e7e;
$button-red-hover: #c30052;

$navbar-height: 48px;

$info-size: 400px;
$info-sizeLg: 465px;
