@import "../../styles/mixins/font";
@import "../../styles/mixins/icon";

.navbar{
    @include fontLarge();
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    height: 60px;
    padding: 0 20px;
    margin-bottom: 30px;

    background-color: #000;
    color: #ffffff;

    &__logo{
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;

        &__icon{
            @include icon('logo.svg');
            width: 30px;
            height: 30px;
        }
    }
    &__auth{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: right;

        &:hover{
            cursor: pointer;
        }
    }
}

