@import "../../styles/mixins/font";
@import "../../styles/mixins/button";

.trackComment{
    display: grid;
    margin-bottom: 30px;

    &__title{
        @include fontMedium(bold);
        margin-bottom: 10px;
    }

    &__form{
        display: grid;
        grid-template-columns: 1fr auto;
        grid-column-gap: 25px;
        margin-bottom: 25px;

        &__submitBtn{
            @include button();
        }
    }

    &__list{
        display: grid;
        grid-row-gap: 35px;
    }
}
