@import "./../styles/mixins/screen";

.layout {
  &__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  @include screen-lg {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}
