@import "../../styles/mixins/font";

.trackId {
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin: 0 auto;

  &__title {
    @include fontMedium();
  }

  &__content {

  }
}
