@import "../../styles/mixins/font";

.tracks{
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;

    &__top{
        display: grid;
        grid-template-columns: 1fr auto;
        &__title{
            @include fontHeaderSmall();
            margin-bottom: 15px;
        }
        &__create-btn{

        }
        &__search{
            display: block;
            margin-bottom: 35px;
        }
    }

}
