@import "../../styles/mixins/font";
@import "../../styles/mixins/button";

.tracks{
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;

    &__top{
        display: grid;
        grid-template-columns: 1fr auto;
        margin-bottom: 15px;

        &__title{
            @include fontHeaderSmall();
        }
        &__createBtn{
            @include button-small();
            &:hover{
                cursor: pointer;
            }
        }
    }

}
